@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1f2937; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #4ade80; /* Color of the scroll thumb */
    border-radius: 6px; /* Round the corners of the thumb */
    border: 3px solid #1f2937; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #042F2E; /* Color of the scroll thumb on hover */
}

/* Slower movement of the navigation bar */
.navigation-bar {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.navigation-bar-hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.navigation-bar-visible {
    opacity: 1;
    transform: translateY(0);
}
